/*
 * @Author: labike 
 * @Date: 2018-03-19 22:25:55 
 * @Last Modified by: labike
 * @Last Modified time: 2018-03-19 22:31:33
 */


.btn-send{
    margin-left: 15px;
}
.p-img{
    display: block;
    width: 80px;
    height: 80px;
}